<div class="col-xs-12" ng-if="progress !== 100">
        <!-- <progressbar class="progress-striped" value="progress">{{progress | number:0}}%</progressbar> -->
    </div>
    <div class="slide slide-animation" ng-if="isCurrentSlideIndex($index)" ng-show="loaded" ng-repeat="slide in slides | orderBy:'dateTime':false">
        <div class="floorfade">
            <img class="bg" bg-image ng-src="{{slide.src}}">
            <div class="title">{{slide.name}}</div>
            <div class="dateTime">{{slide.fullDate}}</div>
        </div>
    </div>