

<div class="outer" slide-animation>
<div class ="flex-contain">
  <span ng-show="displayLoadingIndicator">loading</span>
  <span ng-show="!slides.length && !displayLoadingIndicator">It doesn't look like you have any events coming up! Perhaps you should add some?</span>
</div>  
</div>


    <div class="slide slide-animation" ng-if="isCurrentSlideIndex($index)" ng-repeat="slide in slides | orderBy:'datetime':false">
        <div class="floorfade">
            <img class="bg" bg-image ng-src="data:{{slide.format}};base64,{{slide.src}}"/>">
            <div class="title">{{slide.name}}</div>
            <div class="dateTime">{{ slide.datetime | date:"fullDate"}}  |  {{ slide.datetime | date:"hh:mm a"}}</div>
        </div>
    </div>